<!-- Just an image -->
<nav class="navbar navbar-light bg-light navTop">
    <a class="navbar-brand" href="#">
      <img src="../../assets/img/pinterest-logo-png-9.png" width="30" height="30" alt="">
      <button  class="lupaBtn" >
        <i class="fas fa-search"></i>
      </button>
      <input class="search navElement form-control mr-sm-2" type="search" placeholder="Search" id="searchText" name="search" aria-label="Search" (keyup)="onKey($event)">
      <button class="closeBtn">
        <i class="far fa-window-close"></i>
      </button>
      <div class="navElement dropdown">
          <button class="navElement btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All pins
          </button>
        </div>
      <button class="navElement disabled">
        Home
      </button>
      <button class="navElement disabled">
        <i class="fas fa-user-circle"></i>
        User Name
      </button>
      <button class="navElement disabled">
        <i class="fas fa-comment-dots"></i>
      </button>
      <button class="navElement disabled">
        <i class="fas fa-bell"></i>
      </button>
      <button class="navElement disabled">
        <i class="fas fa-ellipsis-h"></i>
      </button>  
    </a>
  </nav>