.main{
  padding-right: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 0px; 
  height: -webkit-fill-available;
}
.masonry-layout {
  column-count: 3;
  column-gap: 0;
}
.masonry-layout__panel {
  break-inside: avoid;
  padding: 5px;
}
.masonry-layout__panel-content {
  padding: 10px;
  border-radius: 20px;
}