<div class="container-fluid main" id="main" (click)="getImages(search)">
    <div class="row">
    <!-- <p>{{search}}</p> -->
    <ul id="thumbnailsList">
        <div class="masonry-layout">
            <div class="masonry-layout__panel" *ngFor="let image of visibleImagesSearch">
              
              <img class="masonry-layout__panel-content" src="{{image.url}}" data-toggle="modal" data-target="#exampleModal2">
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img class="masonry-layout__panel-content" src="{{image.url}}" >
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </ul>
   
  </div>    
</div>
  